.banner {
  background: linear-gradient(180deg, #194d41 0%, rgba(25, 77, 65, 0.7) 100%);
  padding: 6.6rem 0 4.6rem 0;
}
.banner .heading-primary {
  color: white;
  margin-bottom: 1.34rem;
}
.banner p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.7;
}
.contact-form {
  margin-top: 1.2rem;
  background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
  padding: 3rem 1.34rem 4.67rem 1.34rem;
  border-radius: 1rem;
}
.contact-form .heading-secondary {
  color: white;
  margin-bottom: 3rem;
}
.contact-form input {
  display: block;
  width: 100%;
  padding: 1.67rem 1.34rem;
  background-color: transparent;
  box-shadow: none;
  outline: 0;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
  margin: 1rem 0;
}
.contact-form input:focus {
  border-color: white;
}
.contact-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
