.banner {
  background: linear-gradient(#194d41 0%, rgba(25, 77, 65, 0.7) 100%),
    url(../media/cover.png);
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-color: rgba(27, 72, 53, 1);
  background-position: 100% 0;
  background-size: 240% 40%;
  padding: 8rem 0 14.6rem 0;
  position: relative;
}
.banner-graphics {
  height: 9.167rem;
  width: 100%;
  background: url(../media/banner-graphic.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.banner .heading-primary {
  color: white;
  margin-bottom: 1.6rem;
}
.banner p {
  color: rgba(255, 255, 255, 0.8);
}

/* Thank You Banner */
.thank-you-banner {
  min-height: 100vh;
  height: 100%;
}
.thank-you-banner .container {
  max-width: 992px;
}

.thank-you-banner .text-outline {
  -webkit-text-stroke: 1px var(--highlight);
}
.thank-you-banner .checkmark {
  display: inline-flex;
  width: 4rem;
  height: 4rem;
  background-color: var(--highlight);
  border-radius: 50%;
  margin-bottom: 3rem;
}

.thank-you-banner .btn-primary {
  display: inline-flex;
  width: auto;
  padding: 1.34rem 3rem;
}

@media screen and (min-width: 768px) {
  .banner {
    padding-top: 13rem;
  }
  .banner .container {
    padding: 0 8rem;
  }
  .contact .grid {
    gap: 1.34rem;
  }

  .banner .heading-secondary {
    font-size: 2.34rem;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    padding-bottom: 14rem;
  }
  .thank-you-banner .heading-primary {
    font-size: 8rem;
  }
  .thank-you-banner p {
    font-size: 1.67rem;
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    padding: 10.59rem 0 6.67rem 0;
  }
  .banner .container {
    padding: 0 1.5rem;
  }

  .banner > .grid {
    align-items: center;
    gap: 9rem;
  }
  .banner header {
    text-align: left;
    grid-column: span 3;
    padding-right: 4rem;
  }
  .banner .contact {
    grid-column: span 2;
  }
}
