.banner {
  background: linear-gradient(180deg, #194d41 0%, rgba(25, 77, 65, 0.7) 100%);
  padding: 6.6rem 0 4.6rem 0;
}
.banner .heading-primary {
  color: white;
  margin-bottom: 1.34rem;
}
.banner p {
  color: rgba(255, 255, 255, 0.8);
}
.contact-form {
  margin-top: 1.2rem;
  background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
  padding: 3rem 1.34rem 4.67rem 1.34rem;
  border-radius: 1rem;
}
.contact-form .heading-secondary {
  color: white;
  margin-bottom: 3rem;
}
.contact-form input,
.contact-form select {
  display: block;
  width: 100%;
  padding: 1.67rem 1.34rem;
  background-color: transparent;
  box-shadow: none;
  outline: 0;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
  margin: 1rem 0;
  font-size: 1.34rem;
}
.contact-form input:focus {
  border-color: white;
}
.contact-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 768px) {
  .banner .container {
    padding: 0 8rem;
  }
  .contact {
    padding: 0 4rem;
  }
  .contact .grid {
    gap: 1.34rem;
  }
  .contact-form input {
    margin: 0;
  }
  .contact-form select {
    margin-top: 1.34rem;
  }
  .banner .heading-secondary {
    font-size: 2.34rem;
  }
  .contact-form {
    padding: 4.67rem 2.34rem;
  }
}

@media screen and (min-width: 1200px) {
  .banner .container {
    padding: 0 1.5rem;
  }
  .contact {
    padding: 0;
  }
  .banner > .grid {
    align-items: center;
    gap: 9rem;
  }
  .banner header {
    text-align: left;
    grid-column: span 3;
    padding-right: 4rem;
  }
  .banner .contact {
    grid-column: span 2;
  }
}
