:root {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-style: normal;
  --highlight: #5bc8af;
  --tip-bg: #297c6b;
  --gradient-bg: #194d44;
  --manin-text: #333333;
  --faded: #eaeaea;
  --drop-shadow: 0px 10px 30px 0px #0000001f;
}

body {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--manin-text);
}
a {
  text-decoration: none;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
p {
  font-size: 1.4rem;
  line-height: 1.71;
}

.container {
  padding: 0 1.6rem;
  width: 100%;
}
.hidden {
  display: none;
}
.inline-block {
  display: inline-block;
}
.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.main-text {
  margin: 4rem 0;
}

/* Headings */
.heading {
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 2.67rem;
}
.heading-primary {
  font-size: 3.6rem;
}
.heading-secondary {
  font-size: 2.4rem;
}
.heading-tertiary {
  font-size: 3.6rem;
  margin-bottom: 3.6rem;
}
.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px white;
  background-clip: text;
}
.text-outline-secondary {
  -webkit-text-stroke: 1px var(--manin-text);
}

/* Buttons */
button {
  outline: 0;
  border: 0;
  box-shadow: none;
  background-color: transparent;
}
.btn {
  padding: 1.6rem 0;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  box-shadow: 0px 4px 6px 0px #00000014;
  transition: all 200ms ease-in-out;
  width: 100%;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.08);
}
.btn-primary {
  background-color: var(--highlight);
  color: #fff;
  margin-top: 4.1rem;
  max-width: auto;
}

.btn-primary:focus {
  background: #35bb9c;
}
.btn-primary span,
.btn-secondary svg {
  margin-left: 0.67rem;
}
.btn-secondary {
  color: var(--highlight);
  border: 2px solid var(--highlight);
  margin-top: 2.4rem;
}

/* Center Items */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Embeded Video */
.embeded-video {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9; /* 16:9 aspect ratio */
}

.embeded-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

/* Video player Styles*/
.player {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  display: none;
}
.player-body {
  max-width: 992px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 1.5rem;
  }
  .grid {
    display: grid;
    gap: 2rem;
  }
  .md-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .md-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .heading-primary {
    font-size: 5.34rem;
  }
  .heading-secondary {
    font-size: 3rem;
  }
  .heading-tertiary {
    font-size: 3.67rem;
    margin-bottom: 5.34rem;
  }
  .main-text {
    margin: 0;
  }
  .btn-secondary {
    margin-top: 3rem;
  }
  .player {
    padding: 3rem 8rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 992px;
    margin: 0 auto;
    width: 100%;
  }
  .grid {
    gap: 3rem;
  }
  .lg-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .lg-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .heading-tertiary {
    text-align: left;
    margin-bottom: 4rem;
  }
  .player {
    padding: 10rem 16rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1184px;
  }
  .xl-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .player {
    padding: 10rem 20rem;
  }
}
@media screen and (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
}
