.contact-form {
  margin-top: 1.2rem;
  background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
  padding: 3.6rem 1.6rem 5.6rem 1.6rem;

  border-radius: 1rem;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.12);
}
.contact-form .heading-secondary {
  color: white;
  margin-bottom: 3rem;
}
.contact-form input {
  display: block;
  width: 100%;
  padding: 1.4rem 1.6rem;
  background-color: transparent;
  box-shadow: none;
  outline: 0;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 1);
  margin: 1rem 0;
  font-size: 1.6rem;
}
.country {
  margin-top: 1rem;
}
.contact-form .country svg {
  position: absolute;
  right: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
}
.form-field {
  position: relative;
}
.form-field label {
  position: absolute;
  left: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.3rem;
  line-height: 1;
  cursor: text;
  z-index: 100;
  transition: all 100ms ease-in-out;
}

.form-field .focused-label {
  top: 0;
  background-color: #2b7566;
  padding: 0 0.5rem;
  color: white;
}
.country-list {
  position: absolute;
  width: 100%;
  left: 0;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.12);
  background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.9) 100%);
  top: 105%;
  z-index: 100;
  border-radius: 8px;
  max-height: 30rem;
  overflow: auto;
  scrollbar-width: thin;
  display: none;
}
.country-list li {
  padding: 0.5rem 1.34rem;
  color: #fff;
  font-weight: 500;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}
.country-list li:hover {
  background-color: var(--highlight);
}
.contact-form .invalid {
  border-color: rgba(255, 119, 119, 1);
  color: rgba(255, 119, 119, 1);
}
.form-field .invalid-label {
  color: rgba(255, 119, 119, 1);
}

.error-message {
  background-color: rgba(255, 119, 119, 1);
  font-size: 1.3rem;
  color: white;
  padding: 1.6rem 1.2rem;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  top: 115%;
  transform: translateX(-50%);
  display: none;
  width: 100%;
  z-index: 10000;
}
.error-message img {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100000;
}

@media screen and (min-width: 768px) {
  .contact-form {
    padding: 5rem 2.8rem;
  }
  .contact-form .heading-secondary {
    font-size: 2.8rem;
  }
  .contact .grid {
    gap: 1.6rem;
  }
  .country {
    margin-top: 1.6rem;
  }
  .contact-form input {
    margin: 0;
  }
  .contact-form select {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    padding: 0;
  }
}
