.footer {
  text-align: center;
  padding: 3.2rem 0;
  background-color: var(--faded);
  font-size: 1.4rem;
}
.footer nav {
  margin-top: 1.4rem;
}
.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
.footer li::after {
  content: "|";
  display: inline-block;
  margin-left: 1.4rem;
}
.footer li a {
  color: var(--main-text);
}
.footer li a:hover {
  color: var(--tip-bg);
}
.footer li:last-child::after {
  display: none;
}
@media screen and (min-width: 1024px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
  .footer nav {
    margin-top: 0;
  }
}
