.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 0;
  z-index: 100;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo,
.menu-icon {
  position: relative;
  z-index: 10000;
}

.navbar-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 1.6rem;
  background: var(--gradient-bg);
  z-index: 1000;
  color: #fff;
  box-shadow: var(--drop-shadow);
  height: 0;
  /* opacity: 0; */
  overflow: hidden;
  transition: all 250ms ease-in-out;
}
.navbar-menu li {
  margin: 1.8rem 0;
}
.navbar-menu a {
  color: rgba(255, 255, 255, 0.7);
}
.navbar .active-route {
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
}
.contact-number {
  font-weight: 700;
}
.contact-number a {
  color: var(--highlight);
}
/* Thank You Navbar */
.thank-you-navbar {
  background-color: var(--gradient-bg);
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 2rem 0;
  }
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    width: 22.6rem;
  }
  .navbar-menu {
    height: auto;
    position: static;
    background: none;
    padding: 0;
    text-align: right;
    width: auto;
  }
  .navbar-menu ul {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2.4rem;
  }
  .navbar-menu li {
    margin: 0;
  }

  .menu-icon-box {
    display: none;
  }
  .navbar-menu li {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .navbar-menu {
    display: flex;
  }
  .navbar-menu ul {
    margin-bottom: 0;
  }
  .navbar-menu ul a {
    transition: color 200ms ease-in-out;
  }
  .navbar-menu ul a:hover {
    color: rgba(255, 255, 255, 1);
  }
  .contact-number {
    margin-left: 4rem;
  }
  .contact-number::before {
    content: "|";
    display: inline-block;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 4rem;
  }
}
