.slider-wrapper {
  overflow: hidden;
  margin-top: -6rem;
  padding-top: 6rem;
  cursor: grab;
}
.slider-list {
  display: flex;
  width: 100%;
  transform: translateX(0);
  transition: transform 500ms ease-in-out;
}

.slider-wrapper:active {
  cursor: grabbing;
}

.slider-item {
  min-width: 100%;
  width: 100%;
  opacity: 0;
}
.slider-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.slider-navigation svg {
  cursor: pointer;
}
.active-slide {
  opacity: 1 !important;
}
.active-dot {
  fill: var(--highlight);
}
.next,
.prev {
  display: none;
}

.quote-icon {
  position: absolute;
  right: 1.5rem;
  bottom: 120%;
}

.story-author {
  font-size: 1.8rem;
  display: block;
  font-weight: 700;
  margin: 2.6rem 0 1.4rem 0;
}
blockquote {
  font-style: italic;
}
.slider-item {
  color: #fff;
  border-radius: 1rem;
  background-color: var(--gradient-bg);
  padding: 0 3rem 3rem 3rem;
}
.story-author-avatar {
  width: 18rem;
  height: 18rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: var(--drop-shadow);
  margin-top: -6rem;
}
.author-story {
  background-color: var(--gradient-bg);
  position: relative;
}
.slider-navigation {
  margin-top: 6.4rem;
}

@media screen and (min-width: 768px) {
  .slider-wrapper {
    margin-top: -10.4rem;
  }
  .slider-item {
    display: flex;
    gap: 3rem;
    background-color: transparent;
    padding: 0;
  }
  .author-story {
    max-height: 19.8rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: var(--drop-shadow);
    padding: 3.6rem;
  }
  .story-author {
    margin: 0rem 0 1.4rem 0;
  }
  .story-author-avatar {
    width: 19.8rem;
    height: 19.8rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-top: 0;
  }
  .quote-icon {
    top: 2rem;
    right: 3.6rem;
    width: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .slider-wrapper {
    position: relative;
    padding: 3rem 8.67rem 0 8.67rem;
    margin-top: -8rem;
  }

  .story-author-avatar {
    width: 27rem;
    height: 27rem;
  }
  .story-author {
    font-size: 2.4rem;
    margin-bottom: 1.8rem;
  }
  .author-story {
    max-height: 27rem;
    padding: 6rem;
  }
  .author-story p {
    font-size: 1.8rem;
  }
  .slider-navigation svg:hover circle {
    fill: var(--highlight);
  }

  .next,
  .prev {
    cursor: pointer;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: inline-block;
  }
  .next {
    right: 0;
  }
  .prev {
    left: 0;
  }
  .next:hover path,
  .prev:hover path {
    fill: var(--highlight);
  }
  .slider-item {
    padding: 0 2.67rem 6rem 2.67rem;
  }
}
