.story-wrapper {
  background-color: #f5f5f5;
  padding: 1rem 0 10.84rem 0;
}
.gallery {
  margin-bottom: 5.34rem;
}
.gallery img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .story-wrapper {
    padding: 2rem 0 6.84rem 0;
  }
  .gallery {
    display: block;
  }
  /* .order-1 {
    order: 1;
  } */
}
@media screen and (min-width: 1024px) {
  .story-wrapper {
    padding: 6.67rem 0 10.84rem 0;
  }
  .gallery {
    display: block;
  }
  .span-2 {
    grid-column: span 2;
  }
}
