.story-wrapper {
  background-color: #f5f5f5;
  padding: 1.2rem 0 14rem 0;
}

@media screen and (min-width: 768px) {
  .story-wrapper {
    padding: 2.4rem 0 12rem 0;
  }
  .gallery {
    display: block;
    margin-bottom: 6.4rem;
  }
  .gallery img {
    width: 100%;
  }
  /* .order-1 {
    order: 1;
  } */
}
@media screen and (min-width: 1024px) {
  .story-wrapper {
    padding: 6.67rem 0 10.84rem 0;
  }
  .span-2 {
    grid-column: span 2;
  }
}
