.tools {
  padding: 8.34rem 0;
}
.tool-list {
  margin-top: 6.67rem;
}
.tool-item {
  width: 100%;
  height: 8rem;
  border: 2px solid var(--highlight);
  border-radius: 4px;
  position: relative;
  margin: 1.34rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tool-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23.67rem;
  height: 100%;
  color: var(--manin-text);
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  text-align: center;
}

.tool-item img {
  display: none;
  position: absolute;
  left: 95%;
}
.tool-item:hover a {
  color: var(--highlight);
}
.tool-item:hover img {
  color: var(--highlight);
  display: inline-block;
}
.tool-item-info {
  padding: 1rem 0.67rem;
  text-align: center;
  background-color: var(--tip-bg);
  font-size: 13px;
  position: absolute;
  width: 27.34rem;
  top: 110%;
  color: #fff;
  z-index: 100;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  box-shadow: var(--drop-shadow);
}
.tool-item-info svg {
  position: absolute;
  left: 50%;
  bottom: 98%;
  transform: translateX(-50%);
}
.tool-item:hover .tool-item-info {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .tool-list {
    margin-top: 5rem;
  }
  .tool-item {
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .tool-list {
    margin-top: 3rem;
  }
}
